.fade-enter-active {
  animation: fadeIn 0.3s cubic-bezier(0.36, 0.66, 0.04, 1);
}
.fade-leave-active {
  animation: fadeIn 0.3s cubic-bezier(0.36, 0.66, 0.04, 1) reverse;
}

.slide-in-up-enter-active {
  animation: slideInUp 0.2s cubic-bezier(0.36, 0.66, 0.04, 1);
}
.slide-in-up-leave-active {
  animation: slideInUp 0.2s cubic-bezier(0.36, 0.66, 0.04, 1) reverse;
}

.slide-in-down-enter-active {
  animation: slideInDown 0.2s cubic-bezier(0.36, 0.66, 0.04, 1);
}
.slide-in-down-leave-active {
  animation: slideInDown 0.2s cubic-bezier(0.36, 0.66, 0.04, 1) reverse;
}
